/* .form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
   */

.form-container {
  margin: 2% auto;

  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 600px;
  /* padding: 60px 30px; */
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.form-container div {
  margin-bottom: 10px;
}
.input-group-container {
  display: flex;
  flex-direction: row;
}
.form-label {
  width: 20%;
}

.header-container {
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
  /* background-color: red */
}

.btn-container button {
  margin-right: 0px;
  min-width: 100px;
}
