.dropdown-toggle::after {
  display: none !important;
}
.nav {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  /* background-color: white; */

  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}
