.p-tag {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.p-tag-close-btn {
  cursor: pointer;
}
.p-tag:hover {
  opacity: 0.7;
  color: rgb(235, 234, 234);
}
.difficulty {
  display: flex;
  flex-direction: row;
}

.p-card {
  width: 30%;
  margin: 1% auto;
  border-radius: 5px;
  padding: 10px;
  height: max-content;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.p-name {
  font-weight: 600;
  font-size: 1.2rem;
  color: #000000;
}
.p-rating {
  font-weight: 500;
  font-size: 1rem;
  color: #68747a;
}

.p-tags {
  /* font-weight: 400; */
  font-size: 0.8rem;
  color: #adc8d8;
}
.p-btn {
  /* border: 3px solid #edab30; */
  border-radius: 100px;
  padding: 8px 40px;
  font-weight: 400;
  font-size: 16px;
  color: #edab30;
  background: none;
  font-weight: 800;
  transition: 0.3s;
  margin-top: 5%;
  margin-bottom: 5%;
}
.p-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: flex-start;
  align-content: flex-start;
}
